.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  width: auto;
  margin: 0 auto; /* Centers the container itself */
}

.pdf-container {
  width: 80%;
  height: 100vw;
  margin: 0 auto; /* Centers the element horizontally */
  display: block; /* Ensures it behaves as a block-level element */
}
