@if (loadSignal()) {
<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">Machine Learning and Algorithms</p-tab>
    <p-tab value="1">Projects for Education</p-tab>
    <p-tab value="2">Others</p-tab>
  </p-tablist>
  @for ( projectList of projectGroupsSignal(); track $index; let i = $index) {
  <p-tabpanel value="{{ i }}">
    <div class="projects-container">
      <ng-container *ngFor="let project of projectList">
        <p-card [style]="{ width: '20rem', overflow: 'hidden' }">
          <ng-container *ngIf="headerImageUrlsMap().get(project.id) as headerImageUrl">
            <ng-template #header>
              <img alt="Card" class="header-image" [src]="headerImageUrl" />
            </ng-template>
          </ng-container>

          <ng-template #title> {{ project.name }} </ng-template>
          <ng-template #subtitle> {{ project.description }} </ng-template>
          <ng-template #footer>
            <div class="button-container">
              <p-button [routerLink]="'/projects/' + project.id"> Go to Project </p-button>
              <a [href]="project.html_url" class="p-button font-bold" target="_blank" rel="noopener noreferrer">
                View on GitHub
              </a>
            </div>
          </ng-template>
        </p-card>
      </ng-container>
    </div>
  </p-tabpanel>
  }
</p-tabs>
} @else {
<div class="spinner-container">
  <p-progress-spinner ariaLabel="loading" />
  <span class="ellipsis">Loading repository information from GitHub</span>
</div>
}
