<p>
  As the world becomes ever more environmentally-conscious, farmers will need smart tools that can differentiate between
  crops and weeds in order to facilitate spot-application of pesticides. This is either a manual, labor-intensive
  operation or can be automated through the magic of machine learning. In this project, we look at a data-set of crop
  and weed seedlings during their nascent phases, and try to create a machine learning classifier with >90% accuracy.
</p>
<p>
  This video below will be a largely informal summary of the project. For the full project source, see the Github Page
  linked above. For a more detailed explanation of the project, see the
  <a href="https://renahlee.github.io/50shadesofgreen/" target="_blank">project website</a>.
</p>
<div style="text-align: center">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/edu-nxt50mQ?si=2VmlLw_M-d-dtcqO"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>
