<div class="home-container">
  <p-card header="Biography">
    <p>
      Michael Liang is a healthcare software professional with a background in education and engineering. Leveraging his
      multidisciplinary expertise, he applies his background in Chemical Engineering from MIT and Machine Learning from Georgia Tech to
      develop innovative solutions in healthcare technology. Driven by a passion for improving patient care, he creates software that
      enhances efficiency, optimizes processes, and empowers medical professionals.
    </p>
    <p>
      Previously, he was an award-winning high-school educator in Boston for a decade, during which he honed skills in organized
      planning, people management, and clear communication—qualities that now shape his approach to complex challenges.
    </p>
  </p-card>
  <p-card header="For employers">
    <p><i>I’m currently seeking employment opportunities in software engineering and machine learning / data analytics.</i></p>
    <p>
      <a [routerLink]="'/resume'"><i>View my résumé</i></a>
    </p>
  </p-card>
  <p-card header="Career in Education">
    <p>
      After undergraduate studies, Michael Liang began his teaching career through the Teach For America program, spending a decade in
      public education in Boston, MA. During this time, he taught STEM subjects including Physics, Robotics, and Computer Science,
      equipping students with problem-solving skills and hands-on technical experience.
    </p>
    <p>
      In the last three years of his teaching career, he was a founding teacher at
      <a href="https://www.ebrooke.org/" target="_blank">Brooke High School</a>, where he developed a comprehensive three-year computer
      science curriculum to ensure all students had access to foundational and advanced computing concepts. That transformative period
      shaped his perspective on education, reinforcing his commitment to fostering equitable access to technology.
    </p>
    <p>
      Today, he continues to engage in the education space as an instructional associate and head teaching assistant for a graduate
      course at Georgia Tech, mentoring students and supporting their learning in advanced computing topics. He remains deeply invested
      in exploring how innovative solutions can bridge gaps in learning and expand opportunities for all.
    </p>
  </p-card>
  <p-card header="Transition to Software Engineering">
    <p>
      Teaching Computer Science ignited a deep fascination with software engineering. Guiding students through programming, algorithms,
      and system design revealed the power of technology to solve real-world challenges at scale. As his passion grew, Michael Liang
      immersed himself further, refining his technical expertise and exploring advanced computing concepts. This natural progression
      led him to transition from education to software development, where he now applies his multidisciplinary background to build
      innovative solutions in healthcare technology.
    </p>
  </p-card>
  <p-card header="Personal Facts">
    <p>
      In his spare time, Michael likes snowboarding, practicing guitar, playing video games and board games, and cooking awesome food.
    </p>
  </p-card>
</div>
