<p>
  In August 2020, Veritasium, a popular YouTube personality, posted a video on whether success was determined by luck or
  hard work. The video is linked below.
</p>
<div style="text-align: center">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/3LopI4YeC4I?si=zxaNo4BLb6qrgbGq"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>
<p>
  There were significant problems with the assumptions made in Veritasium's video. Most notably, they assume that luck
  and skill follow a flat distribution. Changing this small assumption to a normal distribution drastically changes the
  thought experiment results. In the following video and accompanying repository, I demonstrate these changes.
</p>
<div style="text-align: center">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/PzZPSkQJKDs?si=JRD7Zh8CUwDbgxi3"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>
