<p-card header="{{ repo().name }}">
  <p><b>Description: </b>{{ repo().description }}</p>
  <p><b>Language: </b>{{ repo().language }}</p>
  <p>
    <b>Repository: </b><a [href]="repo().html_url" target="_blank">{{ repo().html_url }}</a>
  </p>
  <p><b>Id: </b>{{ repo().id }}</p>
</p-card>

@if ( hasMoreDetails() ) {
<p-divider></p-divider>
<p-card>
  @switch (projectId) { @case ('228291664') {
  <app-traveling-salesman></app-traveling-salesman>
  } @case ('235855332') {
  <app-game-of-life></app-game-of-life>
  } @case ('315426661') {
  <app-shades-of-green></app-shades-of-green>
  } @case ('358282890') {
  <app-segint-research></app-segint-research>
  } @case ('142626249') {
  <app-velocity-engine></app-velocity-engine>
  } @case (projectId === '91357764' || projectId === '209374528' || projectId === '209703243' ? projectId : '') {
  <app-education-project></app-education-project>
  } @case ('291320585') {
  <app-luck-vs-skill></app-luck-vs-skill>
  } @case ('183275976') {
  <app-other-project></app-other-project>
  } @case ('985928423') {
  <app-portolio-project></app-portolio-project>
  } }
</p-card>

} @if( repo().readmeContent ){
<p-divider></p-divider>
<p-card>
  <p-fieldset
    legend="Click to view ReadMe from GitHub"
    #readmeFieldset
    [collapsed]="collapsed()"
    (click)="toggleCollapse()"
  >
    @if( !collapsed()){
    <markdown class="mark-down-container" [data]="repo().readmeContent"></markdown>
    }
  </p-fieldset>
</p-card>
}
