<div class="vertical-resume">
  <p-card>
    <div style="text-align: center">
      <h1>Michael Liang</h1>
      <p>
        2163 Lake Park Dr SE, Apt. R, Smyrna GA 30080 | (617) 275-3730 |
        <a href="mailto:mliang1987@gmail.com">mliang1987&#64;gmail.com</a> |
        <a href="assets/files/Resume.Liang.Shichao.2025.pdf" download="Resume.Liang.Shichao.2025.pdf"
          >Download Résumé PDF</a
        >
      </p>
    </div>
  </p-card>
  <p-fieldset legend="Objective" [toggleable]="true">
    <p style="font-size: smaller">
      Seeking a software engineering role where I can leverage my machine learning expertise and multidisciplinary
      background to enhance healthcare solutions.
    </p>
  </p-fieldset>
  <p-fieldset legend="Education" [toggleable]="true">
    <p style="font-size: smaller">
      <strong>Georgia Institute of Technology</strong> - Master of Science in Computer Science (Machine Learning), GPA:
      4.00/4.00 (Dec 2020), Atlanta, GA
    </p>
    <p style="font-size: smaller">
      <strong>Massachusetts Institute of Technology</strong> - Bachelor of Science in Chemical and Biological
      Engineering, GPA: 4.71/5.00 (June 2009), Cambridge, MA
    </p>
  </p-fieldset>
  <p-fieldset legend="Relevant Work Experience" [toggleable]="true">
    <h3>Varian Medical Systems, Atlanta, GA (January 2021 - Present)</h3>
    <p style="font-size: smaller"><strong>Software Engineer III - NextGen Oncology Workflow Application</strong></p>
    <ul>
      <li style="font-size: smaller">
        <strong>Feature technical owner</strong> for a critical component of the NextGen Oncology Workflow Application,
        overseeing its backlog, refining requirements and acceptance criteria, and collaborating with Product Management
        to ensure clinical and operational alignment.
      </li>
      <li style="font-size: smaller">
        <strong>Mentor to new and junior engineers</strong>, leveraging my education background to train them in best
        practices, technical development, and future feature ownership.
      </li>
      <li style="font-size: smaller">
        <strong>Implemented test-driven development (TDD) practices</strong>, designing test data and cases upfront to
        validate functionality, ensure robustness, and drive high-quality feature development.
      </li>
      <li style="font-size: smaller">
        Major <strong>individual contributor</strong>, accounting for a substantial share of commits within a team of
        eight engineers.
      </li>
    </ul>
    <p style="font-size: smaller"><strong>Software Engineer II - Velocity Advanced Imaging</strong></p>
    <ul>
      <li style="font-size: smaller">
        <strong>Engineering lead for the Design Requirements Review Board (DRRB)</strong>, ensuring design
        specifications met clinical and regulatory standards. Evaluated potential defects for customer safety,
        cybersecurity risks, and user experience impact.
      </li>
      <li style="font-size: smaller">
        <strong>Engineering lead for the Escalated Complaint Team (ECT)</strong>, coordinating investigations and
        resolutions for critical product issues, mitigating risks to patient care and workflow efficiency.
      </li>
      <li style="font-size: smaller">
        Played a crucial role in <strong>addressing operational and leadership gaps</strong> during the VelocityAI 4.2
        release, ensuring development milestones were met and cross-functional coordination remained effective in the
        absence of a dedicated project manager.
      </li>
      <li style="font-size: smaller">
        <strong>Individual contributor</strong> for VelocityAI, an advanced medical imaging and treatment planning
        software for oncology care. Enhanced deformable registration algorithms for improved precision in image
        alignment across 3D volumes.
      </li>
    </ul>
    <p-divider />
    <h3>Varian Medical Systems, Atlanta, GA (May 2020 - August 2020)</h3>
    <p style="font-size: smaller"><strong>Product Management Intern - SEGINT-R</strong></p>
    <ul>
      <li style="font-size: smaller">
        From idea to product, <strong>designed and developed</strong> an <strong>open-source</strong> anatomical
        transaction server for research clients (ATS-R) to prototype oncology segmentation machine learning models with
        Velocity AI, Varian’s picture archiving and collection system (PACS).
      </li>
      <li style="font-size: smaller">
        The server features an extensible and flexible framework for quick upload of trained models for non-clinical
        testing, with native support for TensorFlow and PyTorch models.
      </li>
      <li style="font-size: smaller">Currently deployed to multiple research institutions.</li>
    </ul>
    <p-divider />
    <h3>Brooke High School, Boston, MA (July 2016 - August 2019)</h3>
    <p style="font-size: smaller">
      <strong>Founding Computer Science Teacher</strong>
    </p>
    <ul>
      <li style="font-size: smaller">
        Founding teacher at <strong>Brooke High School</strong>, designing and implementing an introductory Java course
        for all 9th graders and a full-year AP-CSP (JavaScript) course for 10th/11th graders.
      </li>
      <li style="font-size: smaller">
        Founded and led <strong>The ElectroLights</strong>, an award-winning Python-based robotics program, expanding
        participation to 1/8 of the entire student body.
      </li>
      <li style="font-size: smaller">
        <strong>Awards:</strong>2017 Taking Initiative Award, 2020 Extraordinary Student Achievement Award.
      </li>
    </ul>
  </p-fieldset>
  <p-fieldset legend="Project Portfolio" [toggleable]="true">
    <p>
      Explore my work: <a href="https://mliang1987.github.io/portfolio">Portfolio</a> |
      <a href="https://github.com/mliang1987">GitHub</a>
    </p>
    <ul>
      <li style="font-size: smaller">
        <strong>Crop Classification with Neural Networks</strong> - Developed 95%-accurate neural network classifier for
        crop and weed plant images to facilitate spot-application of pesticides. Prior to classification using ImageNet
        transfer learning on the Xception architecture, input images are processed via unsupervised segmentation.
      </li>
      <li style="font-size: smaller">
        <strong>Machine Learning with k-Means Clustering</strong> - Compared vectorized implementation of k-means
        clustering and expectation maximization to image compression and point cloud data segmentation.
      </li>
      <li style="font-size: smaller">
        <strong>Stock Trading with Machine Learning</strong> - Investigated using a random forest (bootstrapped ensemble
        of random tree learners) for deciding stock holdings during a given time window, using trading signals as
        features. Optimized to avoid overfitting w.r.t. leaf-size and ensemble-size.
      </li>
    </ul>
  </p-fieldset>
  <p-fieldset legend="Other Work Experience" [toggleable]="true">
    <h3>Georgia Institute of Technology, Atlanta, GA (January 2021 - Present)</h3>
    <p style="font-size: smaller">
      <strong>Instructional Associate / Lead Teaching Assistant</strong>
    </p>
    <ul>
      <li style="font-size: smaller">
        Lead TA for a graduate-level course, overseeing a team of 10 TAs to ensure smooth course operations.
      </li>
      <li style="font-size: smaller">
        Managed schedules, coordinated assignments, and streamlined workflows to optimize TA effectiveness.
      </li>
      <li style="font-size: smaller">
        Set up infrastructure and support systems to enhance TA collaboration and efficiency.
      </li>
      <li style="font-size: smaller">
        Acted as a liaison between faculty and TAs, ensuring alignment on course objectives and instructional needs.
      </li>
    </ul>
    <p-divider />
    <h3>Georgia Institute of Technology, Atlanta, GA (January 2020 - January 2021)</h3>
    <p style="font-size: smaller">
      <strong>Graduate Academic Coach</strong>
    </p>
    <ul>
      <li style="font-size: smaller">
        Coached undergraduate students looking to excel while attending GATech. Provided clear and concise feedback and
        action steps to help students maximized academic outcomes.
      </li>
    </ul>
    <p-divider />
    <h3>The English High School, Boston, MA (September 2015 - June 2016)</h3>
    <p style="font-size: smaller">
      <strong>High School Teacher (9th-12th Grade) - Physics</strong>
    </p>
    <p-divider />
    <h3>Boston Debate League</h3>
    <p style="font-size: smaller">
      <strong>Program Manager for After-School Debate Programs </strong>
    </p>
    <ul>
      <li style="font-size: smaller">
        Trained and supported 33 teacher-coaches from 9 different high schools in Boston Public Schools in managing and
        training students for after-school competitive academic policy debate on local and national circuits.
      </li>
      <li style="font-size: smaller">
        Developed programming (logistics, training, and mentorship structures) that allowed 400 students in 9 BPS high
        schools to participate in tournaments throughout the city and region.
      </li>
    </ul>
    <p-divider />
    <h3>Massachusetts Institute of Technology, Cambridge, MA (July 2012 - August 2014)</h3>
    <p style="font-size: smaller">
      <strong
        >Lead Teacher – Teaching Opportunities in Physical Science at the Research Laboratory for Electronics</strong
      >
    </p>
    <p-divider />
    <h3>Excel High School, Boston, MA (September 2009 - June 2014)</h3>
    <p style="font-size: smaller">
      <strong>High School Teacher (9th-12th Grade) - Physics, AP Computer Science A</strong>
    </p>
  </p-fieldset>
</div>
